:root {
  background-color: #282828;
  color: #fff;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

.draw-page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #282828;
}

.draw-page h1 {
  color: #ff893a;
}

.slot-machine {
  display: flex;
  gap: 16px;

  padding: 20px;

  border-radius: 18px;
  background-color: #ff893a;
}

.slot-reel {
  width: 100px;
  height: 160px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border-radius: 12px;
  color: #282828;
  background-color: #fff;
}