@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

/* 기본 배경 설정 */
body {
    font-family: Pretendard Variable, Pretendard;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.container {
    width: 585px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.header-table td {
    padding-top: 12px;
}

.profile-img {
    width: 3rem;
    padding-right: 16px;
}

.username {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.72px;
    margin: 0px;
}

.location {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.32px;
    padding-top: 2px;
    padding-bottom: 0.5rem;
    margin: 0px;
}

.more-btn {
    width: 1.125rem;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 0.5rem;
}

.action-table img {
    vertical-align: middle;
}

.icon {
    width: 24px;
    padding-right: 4px;
}

.count {
    width: 1.875rem;
    padding-right: 8px;
    font-weight: 600;
    letter-spacing: -0.72px;
}

.bookmark {
    width: 30px;
    text-align: right;
}


.text-table {
    vertical-align: middle;
}

.username-content {
    padding: 4px 0 4px 0;
}

.hashtag {
    padding: 0;
}

.bold-text {
    margin: 0;
    font-weight: 600;
}

.text-table p {
    margin: 0;
}